<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input [(ngModel)]="usuario" placeholder="Correo Electronico" type="email"></ion-input> 
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="contrasena" placeholder="Contraseña" type="password"></ion-input>
  </ion-item>
  <ion-button (click)="inciarSesion()" expand="medium" color="primary" >
    Iniciar Sesion
  </ion-button>
</ion-content>
