<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Añadir Imputación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-list>
    
    <ion-item>
      <ion-label position="stacked">Proyecto</ion-label>
      <ion-select [(ngModel)]="nuevaImputacion.proyecto.id" placeholder="Selecciona un proyecto" interface="action-sheet">
        <ion-select-option *ngFor="let proyecto of proyectos" [value]="proyecto.id">
          {{ proyecto.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha</ion-label>
      <ion-input type="date" [(ngModel)]="nuevaImputacion.fecha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Horas dedicadas</ion-label>
      <ion-input type="number" [(ngModel)]="nuevaImputacion.horas" placeholder="Ej. 4"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Anotaciones / Comentarios</ion-label>
      <ion-textarea [(ngModel)]="nuevaImputacion.anotaciones" placeholder="¿Qué tareas has realizado?" autoGrow="true"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button expand="block" class="ion-margin-top" (click)="guardarImputacion()">
    Guardar Horas
  </ion-button>

</ion-content>