<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ajustes"></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center" style="margin-top: 30px; margin-bottom: 30px;">
    <h2>Seguridad</h2>
    <p>Elige una contraseña segura que puedas recordar.</p>
  </div>

  <ion-item>
    <ion-input 
      label="Nueva contraseña" 
      labelPlacement="floating" 
      type="password" 
      [(ngModel)]="nuevaPassword"
      placeholder="Escribe la nueva contraseña">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input 
      label="Repite la contraseña" 
      labelPlacement="floating" 
      type="password" 
      [(ngModel)]="repetirPassword"
      placeholder="Vuelve a escribirla">
    </ion-input>
  </ion-item>

  <ion-text color="danger" *ngIf="mensajeError" class="ion-text-center">
    <p><strong>{{ mensajeError }}</strong></p>
  </ion-text>

  <ion-text color="success" *ngIf="mensajeExito" class="ion-text-center">
    <p><strong>{{ mensajeExito }}</strong></p>
  </ion-text>

  <ion-button expand="block" style="margin-top: 30px;" (click)="guardarContrasena()">
    Guardar Contraseña
  </ion-button>

</ion-content>