<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>proyecto-detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nuevo Cop - Info</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="start" name="checkmark-circle"></ion-icon>
          Guardar
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-content>
