<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    
    <ion-list-header>
      <ion-label color="primary">Apariencia</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>
        <h2>Modo Oscuro</h2>
        <p>Cambia los colores de la aplicación</p>
      </ion-label>
      <ion-toggle slot="end" [(ngModel)]="modoOscuro" (ionChange)="cambiarTema()"></ion-toggle>
    </ion-item>

    <ion-list-header style="margin-top: 20px;">
      <ion-label color="primary">Seguridad</ion-label>
    </ion-list-header>

    <ion-item button routerLink="/cambiar-password">
      <ion-label>
        <h2>Cambiar contraseña</h2>
        <p>Actualiza tus credenciales de acceso</p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>